.background-img
  .container
    #demo-animation{"data-animation" => "hierarchical-display", "data-animation-in" => "zoomIn", "data-animation-out" => "zoomOut", "data-speed" => "9"}
      .box
        %a{ :href => category_path('special_occasions')}
          =image_tag "categorys/if_Events_751098.png"
          .text
            Special Occasions
      .box
        %a{ :href => category_path('job_and_employment')}
          =image_tag "categorys/if_vector_65_05_473784.png"
          .text
            Job and employment
      .box
        %a{ :href => category_path('computer_and_electronics')}
          =image_tag "categorys/if_19_2135796.png"
          .text
            Computer and electronics
      .box
        %a{ :href => category_path('general_trading_goods')}
          =image_tag "categorys/if_App_Tile_Programs_List_Presentation_Items_Big_1654348.png"
          .text
            General trading goods
      .box
        %a{ :href => category_path('vehicles')}
          =image_tag "categorys/if_vehicles-11_809733.png"
          .text
            Vehicles
      .box
        %a{ :href => category_path('family_and_society')}
          =image_tag "categorys/if_icon-ios7-people_211793.png"
          .text
            Family and society
      .box
        %a{ :href => category_path('finance')}
          =image_tag "categorys/if_Untitled-2-50_536306.png"
          .text
            Finance
      .box
        %a{ :href => category_path('law_and_government')}
          =image_tag "categorys/if_Lawyer1_2315987.png"
          .text
            Law and government
      .box
        %a{ :href => category_path('health')}
          =image_tag "categorys/if_pulse-box_353436.png"
          .text
            Health
      .box
        %a{ :href => category_path('home_and_garden')}
          =image_tag "categorys/if_home_126572.png"
          .text
            Home and garden
      .box
        %a{ :href => category_path('hobbys_and_activities')}
          =image_tag "categorys/if_Games1_2316002.png"
          .text
            Hobbys and activities
      .box
        %a{ :href => category_path('real_estate')}
          =image_tag "categorys/if_Home_2261317.png"
          .text
            Real estate
      .box
        %a{ :href => category_path('internet_and_telco')}
          =image_tag "categorys/if_telephone_531914.png"
          .text
            Internet and telco
      .box
        %a{ :href => category_path('clothing_and_services')}
          =image_tag "categorys/if_clothing_accesories_clothes_fabric-19_498969.png"
          .text
            Clothing and services
      .box
        %a{ :href => category_path('art_and_entertainment')}
          =image_tag "categorys/if_Theatre1_2315976.png"
          .text
            Art and entertainment
      .box
        %a{ :href => category_path('groceries')}
          =image_tag "categorys/if_1_1250327.png"
          .text
            Groceries
      .box
        %a{ :href => category_path('news_and_media')}
          =image_tag "categorys/if_rss_2136491.png"
          .text
            News and media
      .box
        %a{ :href => category_path('travel_and_tourism')}
          =image_tag "categorys/if_airplane_1372384.png"
          .text
            Travel and tourism
      .box
        %a{ :href => category_path('restaurants_and_nightlife')}
          =image_tag "categorys/if_Bars__Coffeeshops_2_753965.png"
          .text
            Restaurants and nightlife
      .box
        %a{ :href => category_path('beauty')}
          =image_tag "categorys/if_Beauty_Saloon_2_753148.png"
          .text
            Beauty
      .box
        %a{ :href => category_path('sport_and_fitness')}
          =image_tag "categorys/if_football_310332.png"
          .text
            Sport and fitness
      .box
        %a{ :href => category_path('companies_and_industry')}
          =image_tag "categorys/if_Map_-_Location_Solid_Style_09_2216349.png"
          .text
            Companies and industry
  =link_to "asdf", "http://localhost:3000/post/1/nicetea"